* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-around;
}
.container {
    width: 200px;
    height: 640px;
    background-color: aliceblue;
}
.first-box{
    height: 200px;
    margin: 10px;
    position: relative;
    display: flex;
}
.first-box:nth-child(1){
    background-color:rgb(102, 8, 8) ;
}
.first-box:nth-child(2){
    background-color:rgb(104, 104, 8) ;
}
.first-box:nth-child(3){
    background-color:rgb(7, 92, 7) ;
}
.item1{
    position: absolute;
    margin: 10px;
    width: 160px;
    height: 180px;
    background-color: red;
}
.item2{
    position: absolute;
    margin: 10px;
    width: 160px;
    height: 180px;
    background-color: yellow;
}
.item3{
    position: absolute;
    margin: 10px;
    width: 160px;
    height: 180px;
    background-color: green;
}
.item1:nth-child(2){
    background-color: rgb(209, 110, 184);
    height: 90px;
    align-self: end;
}
.item2:nth-child(2){
    background-color: rgb(157, 165, 44);
    height: 90px;
    width: 80px;
    left:80px;
    align-self: end;
}
.item3:nth-child(2){
    background-color: rgb(195, 212, 117);
    height: 90px;
    width: 80px;
    top:90px
}





